<div class="gif-detail">
    <img class="gif-detail__image" src="{{giphyDetailVm.gif.images.downsized.url}}" width="150">
    <div class="gif-detail__description-container">
        <p class="gif-detail__description-container__text">Source: {{giphyDetailVm.gif.source}}</p>
        <p class="gif-detail__description-container__text">Imported: {{giphyDetailVm.gif.import_datetime}} </p>
        <p>Description: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa...</p>
    </div>
</div>