@import './../main';
.gif-detail {
    border: 1px solid $white;
    display: flex;
    border-radius: 5px;
    margin: 0 auto;
    width: 45%;
    height: 160px;
    min-width: 580px;
    &__image {
        height: 100%;
        min-width: 150px;
        background: $pink;
    }
    &__description-container {
        margin-left: 10px;
        &__text {
            width: 410px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}